.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tictactoe-container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-container {
    display: flex;
}

.box {
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}